################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Restaurant/obj/Debug
/Restaurant/bin/Debug
